<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<!-- <h1>Slacker</h1> -->	
				<img src="images/slacker-logo-small.png">
			</div>
			<div class="row home">
				<div class="col-sm-7">
			<nav>
				 <button class="chatrooms" id='general'>General</button>
				 <button class="chatrooms" id="cats" >Cats</button>
				 <button class="chatrooms" id="slacking">Slacking</button>
			</nav>
				<div class="screen general" id="general-box"></div>
				<div class="screen cats" id="cats-box"></div>
				<div class="screen slacking" id="slacking-box"></div>
				<form id="formbox" type="submit">
						<input id="usernamebox" placeholder="Sign in">
						<input id="inputbox" class="comment" placeholder="Type message here">
						<button id="submitbtn">Send</button>
				</form>
				</div>

				<div class="col-sm-5">

					<button id="user" class="side-links">Users</button>
					<button id="active" class="side-links">Active Chatrooms</button>
					
					<button  id="leader" class="side-links">Leaderboard</button>
				
				</div>
				<div class="col-sm-5">
					<div id="activeChat" class="active infobox"></div>
					<div id="activeUsr" class="user infobox"></div>
					<div id="leaderbox" class="leader infobox"></div>
				</div>
				</div>
				<div class="row">
			
				</div>
			
		</div>	
		<div class="row leadpage">
			
		</div>
	</div>



<script type="text/template" class="chat-info">
	<div class="chat-msg">
		<div class="usrTemp"><%= username %></div>
		<div class="timeTemp"><%= moment(created_at).format("ddd, D, YYYY @ h:mm a ") %></div>
		<div class="msgTemp"><%= entry %></div>
	</div>
</script>

<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/underscore/underscore-min.js"></script>
<script type="text/javascript" src="bower_components/backbone/backbone-min.js"></script>
<script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="jquery.profanityfilter.min.js"></script>
<script type="text/javascript" src="main.js"></script>


</body>
</html>